<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
  </head>

  <body>
    <h1>Вас приветствует пиццерия!</h1>
    <h2>Выберите пиццы, которые вам по душе!</h2>
<!--    <img th:src="@{/images/TacoCloud.png}"/>-->
    <form method="POST" th:object="${design}">

    <span class="validationError"
          th:if="${#fields.hasErrors('pizzas')}"
          th:errors="*{pizzas}">Ingredient Error</span>

    <div class="grid">
      <div class="ingredient-group" id="pizzas">
      <h3>Выберите пиццы:</h3>
      <div th:each="ingredient : ${pizzas}">
        <input name="ingredients" type="checkbox" th:value="${ingredient.name}" />
        <span th:text="${ingredient.name}">INGREDIENT</span><br/>
      </div>
      </div>
      </div>

      <div class="grid">
        <div class="ingredient-group" id="pizzasCombo">
          <h3>Выберите комбо:</h3>
          <div th:each="combo : ${pizzasCombo}">
            <input name="ingredients" type="checkbox" th:value="${combo.name}" />
            <span th:text="${combo.name}">INGREDIENT</span><br/>
          </div>
        </div>
      </div>

      <div>
      <h3>Name your taco creation:</h3>
      <input type="text" th:field="*{name}"/>
      <span th:text="${#fields.hasErrors('name')}">XXX</span>
      <span class="validationError"
            th:if="${#fields.hasErrors('name')}"
            th:errors="*{name}">Name Error</span>
      <br/>

      <button>Заказать</button>
      </div>
    </form>
  </body>
</html>
