<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>

<body>
<h1>Вас приветствует пиццерия!</h1>
<h2>Выберите пиццы, которые вам по душе!</h2>
<form method="POST" th:object="${design}">

    <span class="validationError"
          th:if="${#fields.hasErrors('pizzas')}"
          th:errors="*{pizzas}">Pizza Error</span>

    <div class="grid">
        <div class="ingredient-group" id="pizzas">
            <div th:each="pizza : ${pizzas}">
                <input name="pizzas" type="checkbox" th:value="${pizza.id}"/>
                <span th:text="${pizza.name}">INGREDIENT</span><br/>
                <!--  цена -->
                <span th:text="${pizza.price + '₽'}"></span><br/>
                <!-- Выбираем изображение пиццы по его id -->
                <img th:src="${'/images/pizza/' + pizza.name + '.PNG'}"/>
            </div>
        </div>
    </div>

    <input name="date" type="datetime-local" th:field="*{deliveryDate}"/><h6>Дата доставки</h6><br/>
    <input name="name" type="text" th:field="*{customerName}" th:placeholder="${'Ваше имя'}"/><br/>
    <input name="address" type="text" th:field="*{deliveryAddress}" th:placeholder="${'Адрес доставки'}"/><br/>
    <div th:field="*{selectedPaymentMethod}">
        <p><input name="payment method" type="radio" checked/>Наличными</p>
        <p><input name="payment method" type="radio"/>Картой при получении</p>
        <p><input name="payment method" type="radio"/>Банковской картой онлайн (редирект -> сторонний сайт)</p>
    </div>
    <div>
        <button>Заказать</button>
    </div>
</form>
</body>
</html>
